// =============================================================================
// Base
// =============================================================================

html, body {
	height: 100%;
	background-color: #DDD;
	color: #707070;
}

body {
    padding: 0;
	font-weight: 300;
	letter-spacing: 1px;
	position: relative;
}

#site-wrap {
	min-height: 100%;
	margin-bottom: -$sticky-footer-height;

	&:after {
		content: "";
		display: block;
		height: $sticky-footer-height;
	}
}

#content {
	padding-top: 60px;
	padding-bottom: 60px;
}

#header {
	padding-top: 20px;
	background-color: #292929;

	a {
		color: #FFF;
	}

	.navbar-toggle .icon-bar {
		background-color: $color--dark-gray;
	}

	.navbar-collapse {
		box-shadow: none;
	}

	.nav>li {
		border-radius: 5px;
		transition: all .15s ease;

		+ li {
			@media (min-width: 768px){
				margin-left: 10px;
			}
		}

		a {
			color: #FFF;
			font-weight: bold;

			&:hover, &:focus {
				background-color: transparent;
			}
		}

		&:hover, &:focus {
			background-color: #111;
			box-shadow: inset 0 1px 3px rgba(0,0,0,0.5),0 1px 0 rgba(255,255,255,0.1);
			text-shadow: 0 1px 3px rgba(0,0,0,0.5);
		}

		&.active {
			box-shadow: inset 0 1px 0 rgba(255,255,255,0.5),0 1px 5px rgba(0,0,0,0.5);
			background-color: $color--belt-yellow;
			text-shadow: 0 1px 0 rgba(255,255,255,0.3);

			a {
				color: #1a1a1a;
			}
		}
	}
}

.navbar-brand {
	padding-left: 70px;
	font-weight: bold;

	img {
		height: 50px;
		position: absolute;
			top: 0px;
			left: 15px;
	}
}

.entry-wrapper {
	display: table;
	width: 100%;
	padding: 5px 15px 0;
	margin: 0 0 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #FFF;
}

.entry > [class^="col-"] + [class^="col-"] input {
	border-left: 0;
}

[readonly="readonly"]:focus {
	outline: 0;
	border-color: #ccc;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

label {
	font-weight: 300;
	color: #999;
}

.us-flag {
	margin-bottom: 20px;
}

#footer {
	height: $sticky-footer-height;
}
