@import "styles/variables";
@import "styles/mixins";
@import "styles/placeholders";

.Sidebar {
    background-color: $color__primary-2;
    width: $sidebar-width;

    @include is-xs {
        width: $sidebar-width-xs;
    }
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 9px;

    .age-group {
        flex-shrink: 1;
        flex: 1;
        width: 100%;
        text-align: center;
        min-width: 0;
        min-height: 0;

        + .age-group {
            margin-top: 5px;
        }

        input[type="radio"] {
            @extend %screen-reader-text;
        }

        label {
            border-radius: 4px;
            font-family: $font__monospace;
            font-size: 1em;
            @include is-xs {
                font-size: .8em;
            }
            cursor: pointer;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 1;
            user-select: none;
            color: $color__label-on-primary-2;
            -webkit-tap-highlight-color: transparent;

            @include hover {
                background-color: $color__primary-3;
            }

        }

        input[type="radio"]:checked + label {
            background: $button-gradient;
            color: $white;
        }

    }

    fieldset {
        height: 100%;
    }

    legend {
        display: block;
        padding: 0;
        margin: 0;
        margin-bottom: $legend-margin-bottom;
        width: 100%;
        text-align: center;
    }

    .control {
        height: calc(100% - #{$legend-font-size} - #{$legend-margin-bottom});
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

}
