$body-bg: #111;
$input-bg: #333;
$text-color: #ccc;
$reflective-yellow: #BED821;
$red: #c70000;
$green: #008200;
$table-bg: #0a0a0a;
$btn-default-color: $text-color;
$input-bg: $input-bg;
$input-color-placeholder: #999;
$input-color: $reflective-yellow;
$input-border: $input-bg;
$input-border-focus: $reflective-yellow;
$table-border-color: $body-bg;
$brand-primary: $reflective-yellow;

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-base: 16px;
$input-border-radius: 0;
$input-height-base: 48px;
$grid-gutter-width: 10px;
$font-size-h1: 22px;
$table-cell-padding: 12px;
