h1 {
	margin-bottom: 0;
}
::selection {
	background: $reflective-yellow;
}
::-moz-selection {
	background: $reflective-yellow;
}
a:hover, a:focus {
	text-decoration: none;
}
.sub-title {
	color: #999;
}
.header {
	padding: 50px 0;
	@media (max-width: 767px) {
		padding: 25px 0;
	}
}
.footer p {
	color: #999;
}
.application #get_score {
	padding: 16px 28px;
}
.application #reset {
	background: none;
	border: 0;
}
.application {
	padding: 0 0 50px;
	opacity: 1;
	transition: .3s .2s opacity;
	html.loading & {
		opacity: 0;
	}
	@media (max-width: 767px) {
		padding: 0;
	}
}
.form-control {
	box-shadow: none;
	font-size: 16px;
	-webkit-appearance: none;
}
th:first-child,
td:first-child {
	width: 50%;
}
td:last-child {
	font-family: monospace;
}
select.form-control {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAoElEQVQoU5WRwQ3CMAxFf6TkDCN0A2ACwgY+xHPAKDCHc8gGlAmADRiBnhMpKJWogEJFfLP0vu3/rVBRqoKFYuYlgPMfolU/mZlbAOsJwUlEbA8T0dwYcwMw+yLoYoxNCOE+3Oycs0qp4yecc95478tmvBlk5j2A7YvgICK7Zz9Kg5kvABYAriJSzA81gomo0Vq3KSUbQig+fsNTEVY95QGd9So7rziDbAAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-position: center right 15px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	-webkit-border-radius: 0px;
}
.btn {
	padding: 10px 20px;
	border-radius: 0;
	text-transform: uppercase;
}
.last-input-group {
	padding-bottom: 50px;
	@media (max-width: 767px) {
		padding-bottom: 0;
	}
}
