h1 {
	margin-bottom: 0;
}
::selection {
	background: $reflective-yellow;
}
::-moz-selection {
	background: $reflective-yellow;
}
a:hover, a:focus {
	text-decoration: none;
}
.sub-title {
	color: #999;
	@media (max-width: $screen-xs-max) {
		display: none;
	}
}
.header {
	background-color: #252525;;
	padding: 50px 0;
	@media (max-width: $screen-xs-max) {
		padding: 25px 0;
		text-align: center;
	}
}
.brand {
	img {
		display: inline-block;
		vertical-align: middle;
		height: auto;
		width: 60px;
		margin-right: 10px;
	}
	&:hover, &:focus {
		color: $brand-primary;
	}
}
.brand-text {
	display: inline-block;
	vertical-align: middle;
	* {
		margin: 0;
	}
}
.application {
	padding: 50px 0 100px;
	opacity: 0;
	transition: .3s .2s opacity;
	html.application-loaded & {
		opacity: 1;
	}
	@media (max-width: $screen-xs-max) {
		padding: 25px 0 25px;
	}
	.btn {
		padding: 16px 28px;
		border-radius: 0;
		text-transform: uppercase;
		width: 100%;
		transition: .2s background-color, .15s color;
		@media (max-width: $screen-xs-max) {
			margin-bottom: 15px;
		}
	}
	#reset {
		background: none;
		border-color: #222;
		&:hover, &:focus {
			border-color: #1b1b1b;
		}
	}
}
.footer {
	padding: 0 0 50px;
	@media (max-width: $screen-xs-max) {
		padding: 0 0 15px;
	}
	p {
		color: #222;
	}
	a {
		color: #333;
	}
	.pull-left {
		text-align: left;
		@media (max-width: $screen-xs-max) {
			display: none;
		}
	}
	.pull-right {
		text-align: right;
		@media (max-width: $screen-xs-max) {
			float: none !important;
			text-align: center;
		}
	}
}
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
	border-bottom-width: 1px
}
.form-control {
	box-shadow: none;
	font-size: 16px;
	-webkit-appearance: none;
}
.form-group:last-child {
	margin-bottom: 0;
}
th:first-child,
td:first-child {
	width: 50%;
}
td:last-child {
	font-family: monospace;
}
select.form-control {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAoElEQVQoU5WRwQ3CMAxFf6TkDCN0A2ACwgY+xHPAKDCHc8gGlAmADRiBnhMpKJWogEJFfLP0vu3/rVBRqoKFYuYlgPMfolU/mZlbAOsJwUlEbA8T0dwYcwMw+yLoYoxNCOE+3Oycs0qp4yecc95478tmvBlk5j2A7YvgICK7Zz9Kg5kvABYAriJSzA81gomo0Vq3KSUbQig+fsNTEVY95QGd9So7rziDbAAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-position: center right 15px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	-webkit-border-radius: 0px;
}
.last-input-group {
	margin-bottom: 50px;
	@media (max-width: $screen-xs-max) {
		margin-bottom: 15px;
	}
}
