// descriptive color names
//
$color--black								: #131313;
$color--dark-gray							: #454546;
$color--gray								: #ABA9B6;
$color--white								: #FFFFFF;
$color--belt-gray							: #7E7673;
$color--belt-yellow							: #DDF12F;

// color assignments
//
$color--sidebar-bg							: $color--black;
$color--body-bg								: $color--gray;

// sidebar
//
$sidebar-width								: 300px;